<form class="form" method="POST" action="/home">
    <div class="form-row">
        <div class="col-12 col-lg-10 col-sm-10">
        <textarea type="text" class="form-control mb-2 mr-sm-2" id="query" name="query" placeholder="Enter your question"  row="200"></textarea>        
        </div>
        <div class="col col-lg-2 col-sm">
    <button type="submit" class="btn btn-primary mb-2">Send</button>
        </div>
    </div>
</form>
